---
import { render } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import config from "$config";
import { contentStaticPaths } from "$utils/content";
import Base from "$layouts/Base.astro";
import ContentHeader from "$components/ContentHeader.astro";
import Position from "$components/Position.astro";
import Sensitive from "$components/Sensitive.svelte";

export async function getStaticPaths() {
	return contentStaticPaths("jotting");
}

const { locale = config.i18n.defaultLocale } = Astro.params;
const { jotting } = Astro.props as { jotting: import("astro:content").CollectionEntry<"jotting"> };
const { Content, remarkPluginFrontmatter: frontmatter } = await render(jotting);
---

<Base title={jotting.data.title} {locale} description={jotting.data.description} article={{ timestamp: jotting.data.timestamp, tags: jotting.data.tags }}>
	<main class="flex flex-col gap-6">
		<ContentHeader {locale} title={jotting.data.title} timestamp={jotting.data.timestamp} tags={jotting.data.tags} words={frontmatter.words} />

		<Sensitive {locale} back={getRelativeLocaleUrl(locale, "/jotting")} sensitive={jotting.data.sensitive} client:load>
			<section id="markdown-content" class="markdown"><Content /></section>
		</Sensitive>

		<Position {locale} />
	</main>
</Base>
